//------------------------------------------------------------------------------
//- Government-contacts section
//------------------------------------------------------------------------------
//- for about page

section.sctn-md
  .container
    h2.pd-lg Контакты органов исполнительной власти
    +uiGovernmentList