//------------------------------------------------------------------------------
//- Our licenses section
//------------------------------------------------------------------------------
//- for about page

section.licenses-cards.sctn-sm-md
  .container
    h2.pd-lg Наши лицензии
    .row.gy-3
      .col-12.col-md
        +uiPolicyCard(policy.registry.title, policy.registry.href)
      +uiAdditionCard('Клиника ЦАОП №1 работает только по лицензии', 2).col-4