//------------------------------------------------------------------------------
//- Mixins entrypoint
//------------------------------------------------------------------------------

//- Components

include common
include ./components/UIAdditionCard
include ./components/UIBreadcrumbs
include ./components/UIDoctorCard
include ./components/UIDoctorSection
include ./components/UIGovernmentList
include ./components/UIListData
include ./components/UINavBar
include ./components/UIPolicyCard
include ./components/UIServiceCard
include ./components/UIServiceSection
include ./components/UISocialIcons
include ./components/UITerms
include ./components/UIUsefulLink