//------------------------------------------------------------------------------
//- Config
//------------------------------------------------------------------------------

block config
  - var mainPhoneNumber= { href: '+78129235223', title: '+7 (812) 923-52-23' }
  - var openingHours= { from: '7:30', to: '19:30' }
  - var mainAdress= { href: 'https://yandex.ru/maps/-/CCU6n2TPsA', title: '192174, г.Санкт-Петербург, пр-кт Александровской Фермы, д. 8, стр. 1, пом. 26-Н' }
  - var mainEmail= 'info@caop1.ru'

  -
    var socialIcons= {
      vk: 'https://vk.com/caop1',
      wa: 'https://wa.me/send?phone=79119235223',
      tg: 'https://telegram.me/caop_spb'
    }
  
  //-meta-description
  - var description= 'Центр специализируется на профилактике, диагностике и лечении заболеваний в профиле терапии, урологии, андрологии, гинекологии, онкологии, неврологии и эндокринологии'

  //- Policy notes
  -
    var policy= {
      license: {
        title: 'Лицензия на осуществление медицинской деятельности',
        href: '/license.pdf'
      },
      privacyPolicy: {
        title: 'Политика конфиденциальности',
        href: '/privacy-policy.pdf'
      },
      personalData: {
        title: 'Обработка персональных данных',
        href: '/personal.pdf'
      },
      //- provisionNotice: {
      //-   title: 'Уведомление о предоставлении лицензии на осуществление медицинской деятельности',
      //-   href: '/license.pdf'
      //- },
      registry: {
        title: 'Выписка из реестра лицензий по состоянию на 27.10.2022',
        href: '/registry.pdf'
      },
      internalRegulations: {
        title: 'Правила внутреннего распорядка для потребителей медицинских услуг',
        href: 'internal-regulations.pdf'
      },
      informationEducation: {
        title: 'Информация об образовании и действующих сертификатов специалистов ЦАОП № 1',
        href: 'information-education.pdf'
      }
    }

  //- Review links
  -
    var reviewLinks = {
      prodoctorov: 'https://prodoctorov.ru/spb/lpu/79289-caop-1/',
      twoGis: 'https://go.2gis.com/5vl7al',
      yandex: 'https://yandex.ru/maps/-/CCU6n2TPsA',
      napopravku: 'https://spb.napopravku.ru/clinics/centr-ambulatornoj-onkologiceskoj-pomosi-no1/'
    }

  //- Navbar links
  -
    var navBar = [
      {
        name: 'Услуги',
        href: 'services',
        data: 'services'
      },
      {
        name: 'Программы и акции',
        href: 'programs.html',
        data: 'programs'
      },
      {
        name: 'Прайс',
        href: 'price.html',
        data: 'price'
      },
      {
        name: 'Врачи',
        href: 'doctors',
        data: 'doctors'
      },
      {
        name: 'О нас',
        href: 'about.html',
        data: 'about'
      },
      {
        name: 'Контакты',
        href: 'contacts.html',
        data: 'contacts'
      }
    ]

  //- List of services for home and services page
  -
    var servicesList= [
      {
        title: 'Консультации врачей',
        cards: [
          {
            heading: 'Консультация терапевта',
            content: 'Прием у специалиста широкого профиля — он проведет первичную диагностику, назначит анализы и лечение либо направит к профильному специалисту',
            href: 'terapevt'
          },
          {
            heading: 'Консультация уролога',
            content: 'Прием у специалиста, который занимается проблемами мочевыделительной системы мужчин и женщин, а также половой системой мужчин',
            href: 'urolog'
          },
          {
            heading: 'Консультация гинеколога',
            content: 'Прием у специалиста, который занимается женским здоровьем. Не забывайте, что очень важно обращаться к гинекологу регулярно для обычной проверки — она позволит выявить возможные проблемы на самых ранних стадиях',
            href: 'ginekolog'
          },
          {
            heading: 'Консультация онколога-маммолога',
            content: 'Если беспокоят боли в груди, уплотнения, покраснения, выделения из сосков, изменения формы, был сильный удар в области груди – сразу же записывайтесь к маммологу!',
            href: 'onkolog-mammolog'
          },
          {
            heading: 'Консультация невролога',
            content: 'Поможет снять боли в спине, назначит лечение при головной боли, сделает блокаду, поможет восстановиться после травм и операций. Приходите на прием к грамотному неврологу!',
            href: 'nevrolog'
          },
          {
            heading: 'Консультация эндокринолога',
            content: 'Если беспокоит лишний вес, слабость, жажда, ваш возраст старше 50 лет и болят суставы, повышается уровень сахара крови, есть проблемы с щитовидной железой вам следует записаться на прием к эндокринологу',
            href: 'endokrinolog'
          }
        ]
      },
      {
        title: 'Другие услуги',
        cards: [
          {
            heading: 'Ультразвуковая диагностика (УЗИ)',
            content: 'Исследование у специалиста при помощи ультразвуковых волн, благодаря которому можно оценить состояние щитовидной и молочной железы, брюшной полости и почек, органов малого таза, сосудов, сердца и даже суставов',
            href: 'uzi'
          },
          {
            heading: 'Анализы',
            content: 'Наши специалисты могут взять необходимые анализы в клинике и направить их в лабораторию. Анализы можно сдать анонимно, предупредив нас',
            href: 'analizy'
          },
          {
            heading: 'Дневной стационар',
            content: 'Здесь можно получить назначенные врачом капельницы',
            href: 'dnevnoj-stacionar'
          }
        ]
      },
    ]

  //- List of doctors for home and doctors page
  -
    var doctorsList= [
      {
        name: 'Андрей Николаевич',
        surname: 'Фильварковый',
        spec: 'Терапевт, кардиолог',
        img: 'doctors/Photo-1-min.jpg',
        href: 'filvarkovyj-andrej-nikolaevich'
      },
      {
        name: 'Лариса Павловна',
        surname: 'Гиголаева',
        spec: 'Онколог',
        img: 'doctors/Photo-2-min.jpg',
        href: 'gigolaeva-larisa-pavlovna'
      },
      {
        name: 'Дарья Львовна',
        surname: 'Афанасьева',
        spec: 'Терапевт, кардиолог',
        img: 'doctors/Photo-3-min.jpg',
        href: 'afanaseva-darya-lvovna'
      },
      {
        name: 'Анна Михайловна',
        surname: 'Бойко',
        spec: 'Невролог',
        img: 'doctors/Photo-4-min.jpg',
        href: 'bojko-anna-mihajlovna'
      },
      {
        name: 'Егор Викторович',
        surname: 'Климов',
        spec: 'Эндокринолог',
        img: 'doctors/Photo-5-min.jpg',
        href: 'klimov-egor-viktorovich'
      },
      {
        name: 'Ольга Александровна',
        surname: 'Климова',
        spec: 'Акушер-гинеколог',
        img: 'doctors/Photo-6-min.jpg',
        href: 'klimova-olga-aleksandrovna'
      },
      {
        name: 'Елена Анатольевна',
        surname: 'Чурмасова',
        spec: 'Врач ультразвуковой диагностики',
        img: 'doctors/Photo-7-min.jpg',
        href: 'churmasova-elena-anatolevna'
      },
      {
        name: 'Сергей Сергеевич',
        surname: 'Макеев',
        spec: 'Андролог-уролог',
        img: '',
        href: 'makeev-sergej-sergeevich'
      },
      {
        name: 'Александра Сергеевна',
        surname: 'Мищенко',
        spec: 'Акушер-гинеколог',
        img: 'doctors/Photo-8-min.jpg',
        href: 'mishchenko-aleksandra-sergeevna'
      }
    ]
  
  //- Clinic data
  -
    var cld= {
      job: {
        title: 'Должность',
        content: 'Генеральный директор'
      },
      fullName: {
        title: 'ФИО',
        content: 'Колесниченко Екатерина Павловна'
      },
      address: {
        title: 'Юридический адрес',
        content: mainAdress.title
      },
      phoneSub: {
        title: 'Телефон',
        content: mainPhoneNumber.title
      },
      mail: {
        title: 'Электронная почта',
        content: mainEmail
      },
      reception: {
        title: 'График приема граждан',
        content: 'Вторник, четверг с 12:00 до 16:00'
      },
      nameOfCompany: {
        title: 'Наименование организации',
        content: 'ООО «ЦАОП №1»'
      },
      phonePrim: {
        title: 'Телефон',
        content: mainPhoneNumber.title
      },
      CEO: {
        title: 'Генеральный директор',
        content: 'Колесниченко Екатерина Павловна'
      },
      license: {
        title: 'Лицензия',
        content: 'Л041-01148-78/00326105 от 27.10.2022 выданная комитетом по здравоохранению г. Санкт-Петербурга'
      },
      OGRN: {
        title: 'ОГРН',
        content: '1217800080684'
      },
      TIN: {
        title: 'ИНН',
        content: '7811760238'
      },
      founders: {
        title: 'Учредители',
        content: 'Ясиновский Максим Геннадьевич, Гаева Тамара Могомедовна'
      },
      bank: {
        title: 'Банк',
        content: 'Филиал "Санкт-Петербургский" АО "Альфа-Банк"'
      },
      corrCheck: {
        title: 'Корр. счет',
        content: '30101810600000000786'
      },
      CPP: {
        title: 'КПП',
        content: '781101001'
      },
      BIC: {
        title: 'БИК',
        content: '044030786'
      },
      checkingAccount: {
        title: 'Расчетный счет',
        content: '40702810132330002076'
      },
      schedule: {
        title: 'График приема граждан',
        content: 'Вторник, четверг с 12:00 до 16:00'
      }
    }

  //- Useful links
  -
    var usefulLinks= [
      {
        content: 'Информация о медицинской деятельности медицинской организации',
        href: 'http://www.consultant.ru/document/cons_doc_LAW_121895/'
      },
      {
        content: 'Информацию о перечне жизненно необходимых и важнейших лекарственных препаратов для медицинского применения',
        href: 'http://www.consultant.ru/document/cons_doc_LAW_335635/a80818c7d9593b31dbd0d3418aec02298bd57d6d/'
      },
      {
        content: 'Перечень лекарственных препаратов, предназначенных для обеспечения лиц, больных гемофилией, муковисцидозом, гипофизарным нанизмом, болезнью Гоше, злокачественными новообразованиями лимфоидной, кроветворной и родственных им тканей, рассеянным склерозом, а также лиц после трансплантации органов и (или) тканей',
        href: 'https://www.kosp.su/praisy/7nozologiy.pdf'
      },
      {
        content: 'Перечень лекарственных препаратов для медицинского применения, в том числе лекарственных препаратов для медицинского применения, назначаемых по решению врачебных комиссий медицинских организаций',
        href: 'http://www.consultant.ru/document/cons_doc_LAW_63062/d943e6b38c26f1b8745d963c1a2c6f560794d406/'
      },
      {
        content: 'Перечень лекарственных препаратов, отпускаемых населению в соответствии с Перечнем групп населения и категорий заболеваний, при амбулаторном лечении которых лекарственные средства и изделия медицинского назначения отпускаются по рецептам врачей бесплатно, а также в соответствии с Перечнем групп населения, при амбулаторном лечении которых лекарственные средства отпускаются по рецептам врачей с пятидесятипроцентной скидкой',
        href: 'https://base.garant.ru/101268/53f89421bbdaf741eb2d1ecc4ddb4c33/'
      }
    ]

  //- Contacts of executive authorities
  -
    var governmentContacts= [
      {
        agency: 'Федеральная служба по надзору в сфере здравоохранения (Росздравнадзор)',
        address: '109074, Москва, Славянская площадь, д.4, строение 1',
        phone: '8 (499) 578-02-20'
      },
      {
        agency: 'Территориальный орган Федеральной службы по надзору в сфере здравоохранения по Санкт-Петербургу и Ленинградской области (Росздравнадзор)',
        address: '190068, г. СПб, наб. кан. Грибоедова, 88-90',
        phone: '8 (812) 310-61-75'
      },
      {
        agency: 'Федеральная служба по надзору в сфере защиты прав потребителей и благополучия человека (Роспотребнадзор)',
        address: '127994, г. Москва, Вадковский переулок, дом 18, строение 5 и 7',
        phone: '8 (800) 100-00-04'
      }
    ]