//------------------------------------------------------------------------------
// List of data
//------------------------------------------------------------------------------

.ui-data-list {
  padding: 30px 30px 20px;
  background-color: $light-bg;
  border-radius: 16px;
  li {padding-bottom: 10px;}
  h4 {padding-bottom: 4px;}

  @include media-breakpoint-down (sm) {
    margin-left: -18px;
    margin-right: -18px;
    border-radius: 0;
    padding: 20px 18px 8px;
    li {padding-bottom: 12px;}
  }
}