// -----------------------------------------------------------------------------
// Home page stylesheets
// -----------------------------------------------------------------------------

.home-page {
  
  // About section (common) only for home-page
  section.about {
    @include media-breakpoint-down (lg) {
      padding-bottom: 144px;
      .selecting-slides {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  // Doctors and services sections common
  .services-homepage, .doctors-homepage {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > p {
        text-align: center;
      }
    }

    // Carousel
    .card-carousel {
      padding: 30px 0;
      align-self: stretch;
      .flickity-page-dots {
        display: none;
      }
      .carousel-cell {
        margin-right: 20px;
        width: calc(25% - 60px / 4);
      }
      .flickity-prev-next-button {
        top: auto;
        bottom: 100%;
        transform: none;
        &.previous {
          left: auto;
          right: 42px;
        }
        &.next {
          right: 0;
        }
      }
    }
  }

  @include media-breakpoint-down (xl) {
    .services-homepage, .doctors-homepage {
      
      // Carousel
      .card-carousel {
        .carousel-cell {
          width: calc(33.333333333% - 40px / 3);
        }
      }
    }
  }

  @include media-breakpoint-down (lg) {
    .services-homepage, .doctors-homepage {
      
      // Carousel
      .card-carousel {
        .carousel-cell {
          width: calc(50% - 20px / 2);
        }
        .flickity-prev-next-button {display: none;}
        .flickity-page-dots {display: flex;}
      }
    }
  }

  @include media-breakpoint-down (md) {
    .services-homepage, .doctors-homepage {
      
      // Carousel
      .card-carousel {
        .carousel-cell {
          width: 100%;
        }
      }
    }
  }

  @include media-breakpoint-down (sm) {
    .services-homepage, .doctors-homepage {
      
      // Carousel
      .card-carousel {
        margin-left: -18px;
        margin-right: -18px;
        .carousel-cell {
          margin-right: -16px;
        }
        .ui-service-card, .ui-doctor-card {
          margin-left: 18px;
          margin-right: 18px;
        }
      }
    }
  }
}