//------------------------------------------------------------------------------
//- Service page (dnevnoj-stacionar)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Дневной стационар'
  -var pageClass = ''
  -var description = 'Капельницы и уколы рядом с вами! Внутривенное введение лекарственных препаратов дает быстрый эффект и облегчение симптомов заболевания. Требуется назначение от врача'
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Дневной стационар'
  -var breadcrumbParentPage = {namePage: 'Услуги', href: 'services'}

  //- Data for current service
  -
    var serviceHeading = {
      stockFirst: 'Дневной',
      emphasize: 'стационар',
      stockSecond: ''
    }
  -var serviceImage = 'hero.jpg'
  -var servicePromotion = 'Действует акция Прием врача терапевта + анализы = 2500 вместо 4000' 
block main
  +uiServiceSection(serviceHeading, serviceImage, servicePromotion)
    prepend content
      .separated
        p Одним из способов лечения ряда заболеваний и профилактики обострении хронических патологий является постановка капельницы с лекарственным средством
        p Записаться на эту процедуру можно в удобное для пациента время, манипуляция проводится с полным соблюдением асептики и антисептики опытными медсестрами
        p Капельницей называют медицинскую процедуру, заключающуюся во введении лекарственных растворов в организм через вену. Чаще всего для постановки используется локтевая вена, манипуляция по времени занимает от 20-30 минут до 5-6 часов
      .paragraph-description
        h4 Капельницу может назначить врач терапевт
        .separated
          p Процедура проводится как в профилактических целях, так и для снятия алкогольной интоксикации, похмельного синдрома и восполнения организма необходимыми витаминами и полезными микроэлементами
          p Назначение может быть получено после прохождения определенных диагностических мероприятий, в ходе которых выявляются характерные симптомы, требующие введения лекарственных препаратов капельным путем. Эта процедура значительно ускоряет процесс выздоровления, за счет быстрого распространения препаратов через кровь. Лекарства, введенные данным способом, имеют стопроцентную оценку усвоения организмом
      .paragraph-description
        h4 Почему следует обратиться именно в наш центр:
        ul.description-list
          li Гарантия полной конфиденциальности обращения
          li Получение помощи уже в день обращения
          li Профессиональный и заботливый персонал
          li Постановка капельниц выполняется в специально оборудованном кабинете, где есть все необходимое для комфорта пациента
          li Безопасность процедуры
      .separated
        p * Для постановки капельницы потребуется назначение врача, которое может быть получено после прохождения определенного ряда диагностических мероприятий, в зависимости от жалоб и состояния пациента
  include ../../sections/common/catalog.pug