//------------------------------------------------------------------------------
//- Service page (endokrinolog)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Консультация эндокринолога'
  -var pageClass = ''
  -var description = 'Если беспокоит лишний вес, слабость, жажда, ваш возраст старше 50 лет и болят суставы, повышается уровень сахара крови, есть проблемы с щитовидной железой  вам следует записаться на прием к эндокринологу. Так же проводит консультации по диетологии, в целях нормализации пищевого поведения и коррекции веса, подбора физической активности.'
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Консультация эндокринолога'
  -var breadcrumbParentPage = {namePage: 'Услуги', href: 'services'}

  //- Data for current service
  -
    var serviceHeading = {
      stockFirst: 'Консультация',
      emphasize: 'эндокринолога',
      stockSecond: ''
    }
  -var serviceImage = 'hero.jpg'
  -var servicePromotion = 'Действует акция Прием врача терапевта + анализы = 2500 вместо 4000' 
block main
  +uiServiceSection(serviceHeading, serviceImage, servicePromotion)
    prepend content
      .separated
        p При современном темпе жизни мы часто чувствуем усталость. Даже после полноценного сна, когда нужно быть бодрым и энергичным, мы как будто истощены и подавлены. Если усталость не связана с обычным переутомлением, плохое самочувствие может быть вызвано стрессом или сбоями в работе щитовидной железы
        p В сферу деятельности врача-эндокринолога входит диагностика, предупреждение и лечение заболеваний эндокринной системы организма
        p Сами по себе заболевания эндокринной системы опасны, но даже малейший сбой в работе желез внутренней секреции становится заметен сразу, что позволяет вовремя предупредить развитие заболевания
      .paragraph-description
        h4 Поэтому, если вы:
        ul.description-list
          li Резко набрали или сбросили вес
          li Ощущаете сухость во рту и постоянную жажду, частые позывы к мочеиспусканию, особенно ночью
          li Отмечаете нерегулярность менструального цикла и/или климактерические приливы
          li Внезапно полысели или, наоборот, вдруг обросли волосами в неожиданных местах
          li Покрылись угревой сыпью
          li Обнаружили дрожь в пальцах, тремор, спазматическую боль в мышцах, головную боль
          li Чувствуете постоянную усталость и слабость
          li Заметили увеличение передней части шеи
          li Не можете зачать ребенка при регулярной половой жизни, — необходимо немедленно записаться на прием к врачу-эндокринологу
      .separated
        p Чем раньше установлен диагноз, тем выше шансы на успешное лечение – это утверждение справедливо для любого заболевания, в том числе онкологического. Чтобы вовремя обнаружить патологию щитовидной железы, обращайте внимание на своё состояние и не пренебрегайте ежегодными визитами к врачу-эндокринологу
  include ../../sections/common/catalog.pug