//------------------------------------------------------------------------------
//- Service page (ginekolog)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Консультация гинеколога'
  -var pageClass = ''
  -var description = 'К нему можно обратиться с жалобами на нерегулярные менструации, обильные или болезненные месячные, боли внизу живота, неприятные выделения, зуд и жжение во влагалище. Женское здоровье поможет сохранить ежегодное посещение гинеколога!'
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Консультация гинеколога'
  -var breadcrumbParentPage = {namePage: 'Услуги', href: 'services'}

  //- Data for current service
  -
    var serviceHeading = {
      stockFirst: 'Консультация',
      emphasize: 'гинеколога',
      stockSecond: ''
    }
  -var serviceImage = 'hero.jpg'
  -var servicePromotion = 'Действует акция Прием врача терапевта + анализы = 2500 вместо 4000' 
block main
  +uiServiceSection(serviceHeading, serviceImage, servicePromotion)
    prepend content
      .separated
        p Акушер-гинеколог — первый доктор, который встречает девочку при её рождении, он наблюдает за становлением её репродуктивной системы, готовит женщину к родам, а затем помогает безболезненно вступить в период угасания её репродуктивной функции
        p Гинеколог — очень важный доктор для любой женщины
      .paragraph-description
        h4 К гинекологу можно обратиться со следующими жалобами
        ul.description-list
          li Нерегулярные менструации
          li Обильные или болезненные месячные
          li Боли внизу живота
          li Неприятные выделения из половых путей
          li Зуд и жжение во влагалище
      .paragraph-description
        h4 Гинеколог поможет своим пациенткам
        p Подготовиться к беременности или подобрать оптимальный метод контрацепции, а затем, при необходимости, и менопаузальную терапию
      .paragraph-description
        h4 Как часто необходимо посещать специалиста?
        p Посещать доктора с профилактической целью следует не реже раза в год, именно такая периодичность позволит выявить заболевание на ранней стадии его возникновения и своевременно приступить к лечению
  include ../../sections/common/catalog.pug