//------------------------------------------------------------------------------
//- Service page (невролога)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Консультация невролога'
  -var pageClass = ''
  -var description = 'Поможет снять боли  в спине, назначит лечение при головной боли, сделает блокаду, поможет восстановиться после травм и операций. Приходите на прием к грамотному неврологу!'
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Консультация невролога'
  -var breadcrumbParentPage = {namePage: 'Услуги', href: 'services'}

  //- Data for current service
  -
    var serviceHeading = {
      stockFirst: 'Консультация',
      emphasize: 'невролога',
      stockSecond: ''
    }
  -var serviceImage = 'hero.jpg'
  -var servicePromotion = 'Действует акция Прием врача терапевта + анализы = 2500 вместо 4000' 
block main
  +uiServiceSection(serviceHeading, serviceImage, servicePromotion)
    prepend content
      .paragraph-description
        h4 Когда нужно обращаться к неврологу?
        .separated
          p Выявить проблему неврологического характера самостоятельно очень сложно. Некоторые заболевания возникают бессимптомно, некоторые можно списать на общую усталость или другие факторы. Но не стоит игнорировать сигналы, посылаемые организмом
      .paragraph-description
        h4 Обязательно обратитесь к врачу неврологу при следующих симптомах:
        ul.description-list
          li Появление внезапных и резких головных болей
          li Участившиеся головокружения и обмороки
          li Нарушение координации
          li Бессонница, проблемы со сном
          li Лицевые и головные боли
          li Мышечная слабость
          li Появление звона и шума в ушах
          li Нарушения в работе речевого аппарата, невозможность контролировать собственный язык, губы, громкость голоса, формулировать полноценные предложения
          li Онемение и покалывание в конечностях
          li Отсутствие контроля движений руками, головой
          li Речевые тики, покашливания и шмыганье во время разговора
          li Нарушения памяти
          li Боли в спине, шее, пояснице
      .separated
        p Пациентами невролога могут быть люди любого возраста. Болезни в современном мире молодеют. Бывают случаи, когда можно было предотвратить заболевание, но из-за несовременного обращения к врачу и грамотной консультации и в итоге страдают от ряда недугов
        p Зачем терпеть головную боль, бессонницу, слабость в конечностях, артериальную гипертензию и т.д. Сходите на прием к грамотному неврологу, получите квалифицированную помощь и живите полноценной жизнью!
  include ../../sections/common/catalog.pug