//------------------------------------------------------------------------------
//- Service page (onkolog-mammolog)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Консультация онколога-маммолога'
  -var pageClass = ''
  -var description = 'Если беспокоят боли в груди, уплотнения, покраснения, выделения из сосков, изменения формы, был сильный удар в области груди – сразу же записываетесь к маммологу!'
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Консультация онколога-маммолога'
  -var breadcrumbParentPage = {namePage: 'Услуги', href: 'services'}

  //- Data for current service
  -
    var serviceHeading = {
      stockFirst: 'Консультация',
      emphasize: 'онколога-маммолога',
      stockSecond: ''
    }
  -var serviceImage = 'hero.jpg'
  -var servicePromotion = 'Действует акция Прием врача терапевта + анализы = 2500 вместо 4000' 
block main
  +uiServiceSection(serviceHeading, serviceImage, servicePromotion)
    prepend content
      .paragraph-description
        h4 Врач онколог-маммолог — это специалист, который занимается диагностикой, лечением и профилактикой заболеваний молочных желез, таких как:
        ul.description-list
          li Врожденные аномалии развития молочных желез
          li Воспалительные заболевания – разные формы маститов. Воспалительные заболевания (маститы) могут быть лактационными и нелактационными. В обоих случаях своевременная помощь врача-маммолога необходима для быстрого облегчения состояния и профилактики серьезных осложнений
          li Гинекомастия
          li Фиброаденомы, кисты, различные виды мастопатии, внутрипротоковые папилломы
          li Последствия перенесенных травм и пр.
          li Осложнения после маммопластики (импланты)
          li Злокачественные заболевания молочных желез
      .paragraph-description
        h4 Консультация врача обязательна при наличии следующих симптомов:
        ul.description-list
          li Изменения размера, формы груди, соска или ареолы
          li Уплотнения, «шишки»
          li Покраснение отдельных участков кожи
          li Выделения из соска (при отсутствии лактации)
          li Травмы груди
      .separated
        p Даже в том случае, когда самообследование не выявило тревожных симптомов, важно регулярно обследоваться и посещать маммолога не реже одного раза в год. Точность современных методов диагностики позволяет выявить патологии на начальных стадиях развития заболеваний молочных желез
        p Хотите быть здоровой – обратитесь к врачу!
  include ../../sections/common/catalog.pug