//------------------------------------------------------------------------------
//- Service page (terapevt)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Консультация терапевта'
  -var pageClass = ''
  -var description = 'Многопрофильный специалист с которого следует начать посещение клиники при наличии любых жалоб. Назначит необходимые обследования , подберет терапию и при необходимости направит к узкому специалисту'
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Консультация терапевта'
  -var breadcrumbParentPage = {namePage: 'Услуги', href: 'services'}

  //- Data for current service
  -
    var serviceHeading = {
      stockFirst: 'Консультация',
      emphasize: 'терапевта',
      stockSecond: ''
    }
  -var serviceImage = 'hero.jpg'
  -var servicePromotion = 'Действует акция Прием врача терапевта + анализы = 2500 вместо 4000' 
block main
  +uiServiceSection(serviceHeading, serviceImage, servicePromotion)
    prepend content
      p Прием у специалиста широкого профиля — он проведет первичную диагностику, назначит анализы и лечение либо направит к профильному специалисту
      .paragraph-description
        h4 Терапевт — врач, не нуждающийся в представлении
        .separated
          p Хоть раз в жизни у него на приёме был каждый. Ведь терапевт — это специалист широкого профиля, который обладает общими знаниями во всех направлениях медицины, а также возможностями лечения многих не осложнённых заболеваний организма
          p Именно поэтому он является врачом первого контакта, который, кроме того, занимается профилактическими осмотрами, а значит, может выявить заболевание на ранних стадиях его возникновения
      .paragraph-description
        h4 Придя на прием к доктору, вы должны быть готовы рассказать историю своего заболевания
        .separated
          p Врача может заинтересовать, чем вы болели ранее, какие операции перенесли, на что у вас аллергия, какие имеете вредные привычки, профессиональные вредности и другие особенности Вашей жизни
          p Зачастую, именно незначительные истории биографии в комплексе с данными первичного осмотра могут послужить толчком в определении верного диагноза
      .paragraph-description
        h4 Врач оценивает ваше состояние
        p Кроме того, доктор оценивает, насколько Ваше состояние опасно для жизни, и принимает решение, можно ли продолжить обследование и лечение в рамках амбулаторного звена, либо же необходима срочная госпитализация в стационар
      .paragraph-description
        h4 Терапевту вы можете обратиться за консультацией в вопросах диагностики и лечения терапевтической патологии
        ul.description-list
          li Заболеваний сердечно-сосудистой системы
          li Заболеваний системы дыхания
          li Заболеваний желудочно-кишечного тракта, печени и поджелудочной железы
          li Заболеваний эндокринной системы (сахарный диабет, патологии щитовидной железы)
          li Инфекционных заболеваний
      .separated
        p А также консультации по вопросам военно-врачебной экспертизы (требования к состоянию здоровья граждан при призыве на военную службу, при поступлении в высшие военные учебные заведения и т.п.)
        p Именно он поможет понять, консультация какого узкопрофильного доктора вам нужна, и нужна ли она вообще, определит перечень анализов и обследований для качественной и быстрой постановки диагноза, и при необходимости назначит первичную терапию
  include ../../sections/common/catalog.pug