//------------------------------------------------------------------------------
//- Service page (urolog)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Консультация уролога'
  -var pageClass = ''
  -var description = 'К нему стоит обратиться при простатите, выделениях из полового члена, высыпаниях в паху, нарушении эрекции, проблемах в половой жизни, бесплодии, мочекаменной болезни и цистите'
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Консультация уролога'
  -var breadcrumbParentPage = {namePage: 'Услуги', href: 'services'}

  //- Data for current service
  -
    var serviceHeading = {
      stockFirst: 'Консультация',
      emphasize: 'уролога',
      stockSecond: ''
    }
  -var serviceImage = 'hero.jpg'
  -var servicePromotion = 'Действует акция Прием врача терапевта + анализы = 2500 вместо 4000' 
block main
  +uiServiceSection(serviceHeading, serviceImage, servicePromotion)
    prepend content
      .separated
        p Предвосхищая заблуждение многих, врач уролог-андролог занимается лечением не только мужчин, но и женщин
        p К нему можно обратиться с жалобами на рези и частое мочеиспускание, задержку, непроизвольное подтекание и изменение цвета мочи, на боли в области поясницы
        p Кроме того, андролог – очень важный доктор для мужчины
        p Он поможет вылечить заболевания предстательной железы, яичек, семявыносящих путей, разобраться с проблемами преждевременной эякуляции, нарушения эрекции и мужского бесплодия, справиться с явлениями мужской менопаузы
        p Посещать доктора с профилактической целью следует не реже раза в год, именно такая периодичность позволит выявить заболевание на ранней стадии его возникновения и своевременно приступить к лечению
  include ../../sections/common/catalog.pug