//------------------------------------------------------------------------------
//- Service page (uzi)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Ультразвуковая диагностика (УЗИ)'
  -var pageClass = ''
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Ультразвуковая диагностика'
  -var breadcrumbParentPage = {namePage: 'Услуги', href: 'services'}

  //- Data for current service
  -
    var serviceHeading = {
      stockFirst: 'Ультразвуковая',
      emphasize: 'диагностика',
      stockSecond: ''
    }
  -var serviceImage = 'hero.jpg'
  -var servicePromotion = 'Действует акция Прием врача терапевта + анализы = 2500 вместо 4000' 
block main
  +uiServiceSection(serviceHeading, serviceImage, servicePromotion)
    prepend content
      p Ни для кого не секрет, что ультразвуковое исследование — один из самых популярных и доступных методов диагностики, используемых для оценки практически всех органов и систем человека
      .paragraph-description
        h4 УЗИ позволяет исследовать:
        ul.description-list
          li Мягкие ткани
          li Лимфатические узлы
          li Щитовидную железу
          li Слюнные и молочные железы
          li Органы брюшной полости и забрюшинного пространства (к ним относятся все безвоздушные органы — печень, поджелудочная железа, желчный пузырь, селезенка, почки, надпочечники, крупные сосуды, протоки и лимфатические узлы)
          li Органы малого таза, как у женщин, так и у мужчин
          li Мошонку
      .separated
        p При исследовании этих органов оцениваются размеры органа, его структура, наличие патологических изменений, являющихся причиной одышки, слабости, утомляемости, нервозности и раздражительности (симптомы заболеваний щитовидной железы)
        p Нарушений пищеварения, тошноты, болей в животе, горечи во рту, тяжести в правом подреберье, чувства распирания после еды, повышенного газообразования (оценка органов брюшной полости)
        p Изменений в анализе мочи, болей в пояснице, крови в моче, повышенного артериального давления, особенно в молодом возрасте, травм (повод обследовать почки и мочевой пузырь)
        p А также оценки очаговых и диффузных изменений в органах и систем, оценки риска злокачественности образований, исключения воспалительного характера симптомов
        p Сердца и сосудов — с целью оценки сократительной способности, выявления пороков клапанного аппарата сердца, степени выраженности атеросклеротического процесса, наличия тромбов внутри просвета сосуда, выявления заболеваний, характеризующихся повреждением сосудистой стенки
        p Суставов — оценка целостности суставов и связочного аппарата, наличия жидкости в полости сустава
      .paragraph-description
        h4 Как готовиться УЗ-исследованию?
        p Органы брюшной полости: в течение двух дней исключить из рациона овощи, фрукты, растительные соки, черный хлеб и молочные продукты, а также все те продукты, которые вызывают у Вас вздутие кишечника. Исследование проводится строго натощак! (исключить прием любой пищи за 8-12 часов). Если у Вас инсулинозависимый сахарный диабет, либо Ваше исследование назначено на вечерние часы – можно выпить несладкий чай и съесть подсушенный белый хлеб. За день до исследования начните прием Эспумизана 2 капсулы 3 раза в день и утром в день исследования 2 капсулы, не запивая водой
        p Мочевой пузырь: необходимо выпить 1,5 воды за 30-40 минут до исследования
        p Органы малого таза: подготовка такая же, как при исследовании органов брюшной полости, кушать перед исследованием можно!
        p При невозможности проведения УЗИ через влагалище (у женщин) или прямую кишку (у мужчин) – наполнить мочевой пузырь (как при исследовании мочевого пузыря)
      .separated
        p Для исследования мягких тканей, щитовидной и молочной железы дополнительной подготовки не требуется
        p Исследование молочных желез и малого таза у женщин рекомендовано в первую фазу менструального цикла!
  include ../../sections/common/catalog.pug