//------------------------------------------------------------------------------
//- Error section
//------------------------------------------------------------------------------

section.error
  .container
    .empty
      span 404
      h3 Страница не найдена
      p К сожалению, запрашиваемая Вами страница не найдена. Воспользуйтесь меню, чтобы найти нужную страницу или перейдите на главную страницу сайта.
      +uiButton('primary-sm', 'a')(href="/") На главную страницу
