//------------------------------------------------------------------------------
//- Faq section
//------------------------------------------------------------------------------

section.faq.sctn-md
  .container
    .head
      +uiTitleIcon Вопрос / Ответ
      h2 Популярные вопросы и ответы
      p Здесь вы можете найти популярные вопросы и ответы на интересующие вас вопросы
    .row.gy-5.gx-4
      .col-lg-6
        #accordion
      .col-lg-6
        .card.u-no-select
          +uiIcon('ellipse').bg-blur
          h3 Остались вопросы? Мы с радостью на них ответим!
          p Напишите нам в любое время в Telegram / WhatsApp / VK
          +uiSocialIcons(true)
