//------------------------------------------------------------------------------
//- Feedback section
//------------------------------------------------------------------------------

section.feedback.sctn-md
  .wrapper
    .container
      .row
        .col-12.col-lg-6.calendar
          .icon
            .icon-wrapper
              +uiIcon('calendarFB')
        .col-12.col-lg-6.main-form
          .content
            h2 Запишитесь на прием к врачу нашей клиники
            p Оставьте имя и номер телефона, и наш администратор свяжется с вами для записи в ближайшее время
            #app-form