#cookie-modal.hide-cookie
  p Используя сайт www.caop1.ru, вы соглашаетесь с использованием файлов cookie
  +uiButton('primary-sm')(id="cookie-accept-btn") Подтверждаю
  +uiButton('outline', 'a')(href="cookie.pdf" target="_blank") Подробнее