#form-popup.popup.u-preload
  .inner
    +uiIcon('close').close
    h2 Записаться на консультацию
    p Менеджер свяжется с вами в ближайшее время для подтверждения записи
    #app-form-popup
  .popup-overlay