//------------------------------------------------------------------------------
//- Hero price section
//------------------------------------------------------------------------------

section.hero-price
  .container
    .title
      +uiTitleIcon Прайс
      h1 #[span Прайс] нашей клиники
      p Наш медицинский центр представляет вам прайс на медицинские услуги врачей, проведение исследований и лабораторные анализы
  