//------------------------------------------------------------------------------
//- Hero section
//------------------------------------------------------------------------------
//- Intended only for the homepage

-
  var tooltips = [
    {
      title: 'Лабораторные исследования',
      content: 'Точность диагностики и низкие цены на большинство анализов. Сжатые сроки выполнения',
      left: false
    },
    {
      title: 'Квалифицированные врачи',
      content: 'У нас работают специалисты высшей и первой категории, со стажем более 7 лет',
      left: true
    },
    {
      title: 'Современное оборудование',
      content: 'Мы используем только современное оборудование, что позволяет повысить качество обследований',
      left: false
    }
  ]

section#hero.u-preload
  .container
    .inner
      +uiIcon('ellipse').bg-blur
      .title
        //- h3 Центр амбулаторной онкологической помощи № 1
        h1 #[span ЦАОП № 1] — многопрофильный#[br]медицинский центр
        p Мы специализируемся на профилактике, диагностике и лечении заболеваний в профиле терапии, урологии, андрологии, гинекологии и онкологии
        .btns
          +uiButton('primary-md').trigger-popup Записаться на консультацию
          +uiSocialIcons
      .image
      each item, idx in tooltips
        .tooltip.u-no-select(class=['tooltip-' + idx, item.left ? 'on-left' : null])
          .head
            span.p-sm= item.title
            +uiIcon('plus')
          .body
            p.p-sm= item.content