//------------------------------------------------------------------------------
//- Doctor page (Afanaseva Darya Lvovna)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Афанасьева Д.Л.'
  -var pageClass = ''
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Афанасьева Дарья Львовна'
  -var breadcrumbParentPage = {namePage: 'Врачи', href: 'doctors'}

  //- Data for current doctor
  -var surnameDoctor = 'Афанасьева'
  -var nameDoctor = 'Дарья Львовна'
  -var specDoctor = 'Терапевт, кардиолог, врач функциональной диагностики'
  -var imageDoctor = 'doctors/Photo-3-min.jpg'
  -
    var servicesDoctor = [
      {
        title: 'Прием (осмотр, консультация) врача терапевта первичный',
        price: '1500'
      },
      {
        title: 'Прием (осмотр, консультация) врача терапевта повторный',
        price: '1200'
      },
      {
        title: 'ЭКГ с расшифровкой (электрокардиография)',
        price: '800'
      },
      {
        title: 'УЗИ сосудов шеи',
        price: '2000'
      },
      {
        title: 'УЗИ сердца',
        price: '2300'
      },
      {
        title: 'Справка в бассейн',
        price: '500'
      },
      {
        title: 'Холтеровское мониторирование (суточное мониторирование ЭКГ)',
        price: '2500'
      },
      {
        title: 'Выезд врача терапевта на дом',
        price: '3000'
      }
    ]

block main
  +uiDoctorSection(surnameDoctor, nameDoctor, specDoctor, servicesDoctor, imageDoctor)
    block content
      .paragraph-description
        h4 Образование:
        p 2007 – Диплом по специальности “Лечебное дело (Лечебно-профилактическое дело)”, Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова
      .paragraph-description
        h4 Курсы повышения квалификации:
        p 2008- « Терапия» Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова
        p 2014 – “Профессиональная патология и организация медицинских осмотров”, Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова
        p 2014 – “Экспертиза временной нетрудоспособности”, Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова
        p 2016 – “Кардиология”, Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова
        p 2016 – “Экспертиза качества медицинской помощи”, Санкт-Петербургский государственный медицинский университет им. академика И.П. Павлова
        p 2019 – “Организация здравоохранения”, Высшая школа медицины «ЭКО безопасность».
        p 2019- « Ультразвуковая диагностика», ЧОУ ДПО « Эко- образование
        p 2019 – “Функциональная диагностика”, Высшая школа медицины «ЭКО безопасность».
        p 2020 – « Основы  эхокардиографии» ФГБОУ СПб ГУ
        p 2020-  « Кардиология» АНОВО « Европейский Университет « Бизнес Треугольник»
        p 2020- «Терапия» ЧОУ ДПО « Эко- образование»
        p 2022- « Современная допплерография сердца и крупных сосудов» ФГБОУ СПб ГУ
      .list
        h4 Специализация и профессиональные навыки врача:
        ul.description-list
          li Диагностика и лечение гипертонической болезни, ишемической болезни сердца, кардиосклероза, нарушений сердечного ритма и проводимости, сердечной недостаточности, нарушений липидного обмена
          li Расшифровка ЭКГ и СМЭКГ
          li УЗИ сердца и сосудов шеи
          li Диагностика и лечение острых и хронических заболеваний желудочно-кишечного тракта ( гастриты, эзофагиты, язвенная болезнь, диспепсия, отрыжка, изжога, желчно-каменная болезнь, рефлюкс)
          li Диагностика и лечение кишечных инфекций, глистных инвазий, дисбактериозов
          li ОРЗ,ОРВИ, Грипп, Новая короновирусная инфекция
          li Внебольничные пневмонии
          li Острые и хронические бронхиты
          li Анемии В12 дефицитная, железодефицитная
          li Кашель, одышка неясной этиологии
          li Длительная лихорадка и повышение температуры, слабость
          li Боли в суставах и позвоночнике
          li Подбор оптимальной медикаментозной терапии, разработка схем лечения в дневном стационаре
          li Ведение пожилых пациентов с коморбидной патологией
          li Выезд к пациенту на дом
          li Оформление правки в бассейн, Санаторно- курортной карты, электронного больничного листа по показаниям