//------------------------------------------------------------------------------
//- Doctor page (Bojko Anna Mihajlovna)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Бойко А.М.'
  -var pageClass = ''
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Бойко Анна Михайловна'
  -var breadcrumbParentPage = {namePage: 'Врачи', href: 'doctors'}

  //- Data for current doctor
  -var surnameDoctor = 'Бойко'
  -var nameDoctor = 'Анна Михайловна'
  -var specDoctor = 'Невролог, врач высшей квалификационной категории'
  -var imageDoctor = 'doctors/Photo-4-min.jpg'
  -
    var servicesDoctor = [
      {
        title: 'Прием (осмотр, консультация) врача невролога первичный',
        price: '1950'
      },
      {
        title: 'Прием (осмотр, консультация) врача невролога повторный',
        price: '1700'
      }
    ]

block main
  +uiDoctorSection(surnameDoctor, nameDoctor, specDoctor, servicesDoctor, imageDoctor)
    block content
      .paragraph-description
        h4 Образование:
        p Санкт-Петербургский медико-технический институт “Врач-лечебник” по специальности “Лечебное дело” (2002 г.)
        p СЗГМУ им. И.И. Мечникова – «Неврология»  2020 год
      .list
        h4 Специализация и профессиональные навыки врача:
        ul.description-list
          li Заболевания сосудов головного мозга (цереброваскулярная болезнь, все виды инсультов)
          li Демиелинизирующие заболевания центральной нервной системы
          li Экстрапирамидные расстройства ( болезнь Паркинсона, эссенциальный тремор)
          li Судорожный синдром ( эпилепсия)
          li Последствия черепно-мозговых травм
          li Синкопальные состояния
          li Тревожные и астено-невротические растройства
          li Панические атаки
          li Поражение лицевого, тройничного нервов
          li Полинейропатии
          li Головные боли ( в том числе мигрень)
          li Остеохондроз позвоночника, люмбалгия, ишиалгия, радикулит, грыжи, протрузии
          li Мышечная слабость