//------------------------------------------------------------------------------
//- Doctor page (Churmasova Elena Anatolevna)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Чурмасова Е.А.'
  -var pageClass = ''
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Чурмасова Елена Анатольевна'
  -var breadcrumbParentPage = {namePage: 'Врачи', href: 'doctors'}

  //- Data for current doctor
  -var surnameDoctor = 'Чурмасова'
  -var nameDoctor = 'Елена Анатольевна'
  -var specDoctor = 'Врач ультразвуковой диагностики'
  -var imageDoctor = 'doctors/Photo-7-min.jpg'
  -
    var servicesDoctor = [
      {
        title: 'УЗИ органов брюшной полости (печень, желчный пузырь, поджелудочная железа и селезенка)',
        price: '1600'
      },
      {
        title: 'Комплексное УЗИ органов брюшной полости (включая почки)',
        price: '1900'
      },
      {
        title: 'УЗИ мягких тканей (1 анатомическая зона)',
        price: '900'
      },
      {
        title: 'УЗИ молочных желез',
        price: '1400'
      },
      {
        title: 'УЗИ мочевого пузыря',
        price: '700'
      },
      {
        title: 'УЗИ слюнных желез',
        price: '900'
      },
      {
        title: 'УЗИ лимфатических узлов (1 анатомическая зона)',
        price: '800'
      },
      {
        title: 'УЗИ почек, мочевого пузыря и надпочечников',
        price: '1300'
      },
      {
        title: 'УЗИ мочевого пузыря и остаточной мочи',
        price: '1300'
      },
      {
        title: 'УЗИ щитовидной железы',
        price: '1100'
      },
      {
        title: 'УЗИ органов малого таза (трансабдоминально)',
        price: '1400'
      },
      {
        title: 'УЗИ органов малого таза (трансвагинально)',
        price: '1400'
      },
      {
        title: 'УЗИ грудных желез',
        price: '1400'
      },
      {
        title: 'УЗИ надпочечников',
        price: '700'
      },
      {
        title: 'Фолликулометрия (3-4 посещения)',
        price: '1800'
      },
      {
        title: 'УЗИ мошонки',
        price: '1500'
      },
      {
        title: 'УЗИ предстательной железы (трансректально)',
        price: '1500'
      },
      {
        title: 'УЗИ предстательной железы (трансабдоминально)',
        price: '1500'
      },
      {
        title: 'УЗИ беременности раннего срока',
        price: '1400'
      },
      {
        title: 'Дуплексное исследование сосудов шеи',
        price: '2000'
      },
      {
        title: 'Дуплексное исследование вен нижних конечностей',
        price: '2000'
      },
      {
        title: 'Дуплексное исследование артерий нижних конечностей',
        price: '2000'
      },
      {
        title: 'Дуплексное исследование артерий и вен нижних конечностей',
        price: '3000'
      },
      {
        title: 'Дуплексное исследование вен верхних конечностей',
        price: '2000'
      },
      {
        title: 'Дуплексное исследование артерий верхних конечностей',
        price: '2000'
      },
      {
        title: 'Дуплексное исследование артерий и вен верхних конечностей',
        price: '3000'
      },
      {
        title: 'Дуплексное исследование брюшной аорты и нижней полой вены',
        price: '1500'
      }
    ]

block main
  +uiDoctorSection(surnameDoctor, nameDoctor, specDoctor, servicesDoctor, imageDoctor)
    block content
      .paragraph-description
        h4 Образование:
        p Санкт-Петербургский государственный педиатрический медицинский университет по специальности «педиатрия» -2007 год
        p Профессиональная переподготовка в  Санкт-Петербургском государственном медицинском университете имени И.П.Павлова по специальности «ультразвуковая диагностика» - 2013 год
        p Повышение квалификации « Ультразвуковая диагностика» -2018 год
      .list
        h4 Специализация и профессиональные навыки врача:
        ul.description-list
          li УЗИ органов брюшной полости и забрюшинного пространства, щитовидной железы, почек и надпочечников, мочевого пузыря, молочных желез, мягких тканей, лимфатических узлов
          li УЗИ сосудов шеи, сонной артерии, артерий и вен нижних конечностей
          li УЗИ органов малого таза
          li УЗИ беременности раннего срока
          li УЗИ предстательной железы и мошонки