//------------------------------------------------------------------------------
//- Doctor page (Filvarkovyj Andrej Nikolaevich)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Фильварковый А.Н.'
  -var pageClass = ''
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Фильварковый Андрей Николаевич'
  -var breadcrumbParentPage = {namePage: 'Врачи', href: 'doctors'}

  //- Data for current doctor
  -var surnameDoctor = 'Фильварковый'
  -var nameDoctor = 'Андрей Николаевич'
  -var specDoctor = 'Врач-терапевт высшей квалификационной категории, врач-кардиолог'
  -var imageDoctor = 'doctors/Photo-1-min.jpg'
  -
    var servicesDoctor = [
      {
        title: 'Прием (осмотр, консультация) врача терапевта первичный',
        price: '1500'
      },
      {
        title: 'Прием (осмотр, консультация) врача терапевта повторный',
        price: '1200'
      },
      {
        title: 'ЭКГ без расшифровки (электрокардиография)',
        price: '800'
      },
      {
        title: 'СМ ЭКГ и АД',
        price: '2500'
      },
      {
        title: 'Справка в бассейн',
        price: '500'
      },
      {
        title: 'Холтеровское мониторирование (суточное мониторирование ЭКГ)',
        price: '2500'
      }
    ]

block main
  +uiDoctorSection(surnameDoctor, nameDoctor, specDoctor, servicesDoctor, imageDoctor)
    block content
      .paragraph-description
        h4 Имеет высшую квалификационную категорию по специальности «терапия»
        p Окончил Военно-медицинскую академию в 2004 году по специальности «лечебное дело», клиническую ординатуру в 2017 году по специальности «терапия», профессиональную переподготовку по специальности «кардиология»
        p ООО «Межотраслевой Институт Госаттестации» . 2018 г. Кардиология
        p ООО «Межотраслевой Институт Госаттестации» 2020 г. Терапия
      .list
        h4 В нашем центре им будет осуществляться консультативная помощь в вопросах диагностики и лечения терапевтической патологии:
        ul.description-list
          li Диагностика и лечение гипертонической болезни, ишемической болезни сердца, кардиосклероза, нарушений сердечного ритма и проводимости, сердечной недостаточности, нарушений липидного обмена
          li Расшифровка ЭКГ и СМЭКГ
          li Диагностика и лечение острых и хронических заболеваний желудочно-кишечного тракта ( гастриты, эзофагиты, язвенная болезнь, диспепсия, отрыжка, изжога, желчно-каменная болезнь, рефлюкс)
          li Диагностика и лечение кишечных инфекций, глистных инвазий, дисбактериозов
          li ОРЗ,ОРВИ, Грипп, Новая короновирусная инфекция
          li Внебольничные пневмонии
          li Острые и хронические бронхиты
          li Анемии В12 дефицитная, железодефицитная
          li Кашель, одышка неясной этиологии
          li Длительная лихорадка и повышение температуры, слабость
          li Боли в суставах и позвоночнике
          li Подбор оптимальной медикаментозной терапии, разработка схем лечения в дневном стационаре
          li Оформление правки в бассейн, Санаторно- курортной карты, электронного больничного листа по показаниям
          li Консультации по вопросам военно-врачебной экспертизы (требования к состоянию здоровья граждан при призыве на военную службу, при поступлении в высшие военные учебные заведения и т.п.)
      .separated
        p А также консультации по вопросам военно-врачебной экспертизы (требования к состоянию здоровья граждан при призыве на военную службу, при поступлении в высшие военные учебные заведения и т.п.)
        p Андрей Николаевич имеет богатый опыт (12 лет) диагностики и лечения пациентов в стационарных условиях и найдёт индивидуальный подход к каждому
