//------------------------------------------------------------------------------
//- Doctor page (Gigolaeva Larisa Pavlovna)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Гиголаева Л.П.'
  -var pageClass = ''
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Гиголаева Лариса Павловна'
  -var breadcrumbParentPage = {namePage: 'Врачи', href: 'doctors'}

  //- Data for current doctor
  -var surnameDoctor = 'Гиголаева'
  -var nameDoctor = 'Лариса Павловна'
  -var specDoctor = 'Врач-онколог/маммолог, кандидат медицинских наук'
  -var imageDoctor = 'doctors/Photo-2-min.jpg'
  -
    var servicesDoctor = [
      {
        title: 'Прием (осмотр, консультация) врача онколога первичный',
        price: '1800'
      },
      {
        title: 'Прием (осмотр, консультация) врача онколога повторный',
        price: '1600'
      },
      {
        title: 'Выезд на дом',
        price: '4000'
      }
    ]

block main
  +uiDoctorSection(surnameDoctor, nameDoctor, specDoctor, servicesDoctor, imageDoctor)
    block content
      .paragraph-description
        h4 Образование и научная деятельность:
        p 2014 г. – Северо-Осетинская государственная медицинская академия, диплом с отличием по специальности «лечебное дело
        p 2014-2016 гг. – ординатура по онкологии в НМИЦ онкологии им. Н.Н. Петрова
        p 2017-2019 гг.- аспирантура в СЗГМУ им. И.И. Мечникова
        p Ученая степень и звание: кандидат медицинских наук. Тема кандидатской работы «Роль статуса гена BRCA в выборе неоадъювантной терапии больных трижды –негативным РМЖ» Имеет 18 опубликованных работ, в том числе по теме диссертации опубликовано 9 работ, из них в рецензируемых научных журналах опубликовано 6 работ
        p Членство в профессиональных организациях: Член Российского Общества Онкологов-Маммологов (РООМ)
      .list
        h4 Специализация и профессиональные навыки врача:
        ul.description-list
          li Осмотр на предмет выявления доброкачественных и злокачественных образований молочных желез
          li Консультация на предмет необходимого комплекса мероприятий для своевременного выявления злокачественных образований молочных желез
          li Консультация в выборе неоадъювантной (предоперационной) терапии, объема хирургического лечения и адъювантной (послеоперационной) терапии
          li Ведение пациентов в период динамического наблюдения
          li Маститы, Мастопатии, Фиброаденоматоз молочной железы
      .separated
        p На прием врача иметь при себе результат УЗИ молочных желез ( пациентам до 40 лет ), выполненное с 6-12 день м.ц. ;УЗИ и маммографическое исследование (пациентам старше 40 лет)