//------------------------------------------------------------------------------
//- Doctor page (Klimova Olga Aleksandrovna)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Климова О.А.'
  -var pageClass = ''
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Климова Ольга Александровна'
  -var breadcrumbParentPage = {namePage: 'Врачи', href: 'doctors'}

  //- Data for current doctor
  -var surnameDoctor = 'Климова'
  -var nameDoctor = 'Ольга Александровна'
  -var specDoctor = 'Акушер-гинеколог'
  -var imageDoctor = 'doctors/Photo-6-min.jpg'
  -
    var servicesDoctor = [
      {
        title: 'Прием (осмотр, консультация) врача гинеколога первичный',
        price: '1500'
      },
      {
        title: 'Прием (осмотр, консультация) врача гинеколога повторный',
        price: '1300'
      },
      {
        title: 'УЗИ молочных желез',
        price: '1400'
      },
      {
        title: 'Прием (осмотр, консультация) врача гинеколога + УЗИ малого таза',
        price: '2500'
      },
      {
        title: 'Установка ВМС',
        price: '1800'
      },
      {
        title: 'Удаление ВМС',
        price: '1600'
      },
      {
        title: 'Кольпоскопия',
        price: '1500'
      },
      {
        title: 'Местная анестезия',
        price: '600'
      },
      {
        title: 'Установка пессария',
        price: '900'
      }
    ]

block main
  +uiDoctorSection(surnameDoctor, nameDoctor, specDoctor, servicesDoctor, imageDoctor)
    block content
      .paragraph-description
        h4 Образование:
        p Северо-Западный государственный медицинский университет им. И. И. Мечникова (1999) 2000 г. — ординатура по специальности «Акушерство и гинекология» на базе СЗГМУ им. И.И. Мечникова
        p АНОВО «Европейский Университет «Бизнес треугольник» 2020 г. Акушерство и гинекология
        p ООО «Международный центр инноваций и обучения» 2020 г. Ультразвуковая Диагностика
      .list
        h4 Специализация и профессиональные навыки:
        ul.description-list
          li Заболевания шейки матки, влагалища, вульвы
          li Эрозия и дисплазия шейки матки
          li Заболевания тела матки (гиперплазия, полипоз эндометрия)
          li Эндометриоз
          li Вирусные заболевания
          li Инфекции передающиеся половым путем
          li Воспалительные заболевания женских половых органов
          li Маточные кровотечения
          li Невынашивание беременности
          li Бесплодный брак
          li Планирование беременности
          li Кольпоскопия
          li Введение и удаление ВМС
          li Подбор метода контрацепции
          li УЗИ органов малого таза, молочных желез
          li УЗИ при беременности ( ранние сроки, фетометрия во 2 и 3 триместре, оценка состояния плаценты и подсчет амниотического индекса, цервикометрия , допплерометрия маточно-плацентарного и плодово-плацентарного кровотока)
          li Забор мазков на инфекции и онкоцитологию