//------------------------------------------------------------------------------
//- Doctor page (Klimov Egor Viktorovich)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Климов Е.В.'
  -var pageClass = ''
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Климов Егор Викторович'
  -var breadcrumbParentPage = {namePage: 'Врачи', href: 'doctors'}

  //- Data for current doctor
  -var surnameDoctor = 'Климов'
  -var nameDoctor = 'Егор Викторович'
  -var specDoctor = 'Эндокринолог'
  -var imageDoctor = 'doctors/Photo-5-min.jpg'
  -
    var servicesDoctor = [
      {
        title: 'Прием (осмотр, консультация) врача эндокринолога первичный',
        price: '1500'
      },
      {
        title: 'Прием (осмотр, консультация) врача эндокринолога повторный',
        price: '1300'
      }
    ]

block main
  +uiDoctorSection(surnameDoctor, nameDoctor, specDoctor, servicesDoctor, imageDoctor)
    block content
      .paragraph-description
        h4 Образование:
        p Санкт-Петербургский государственный педиатрический университет в 2019 году, специальность «педиатрия»
        p Ординатура по направлению «эндокринология» -2021 год
        p Профессиональная переподготовка ВМА им. Кирова по специальности «ультразвуковая диагностика» -2020 год
      .list
        h4 Специализация и профессиональные навыки врача:
        ul.description-list
          li Сахарный диабет , диабетическая полинейропатия
          li Ожирение, метаболический синдром, нарушения пищевого поведения
          li Подбор правильного объема и частоты физических нагрузок
          li Заболевания щитовидной и паращитовидных желез : гипотиреоз , гипертиреоз, зоб, тиреоидит
          li Остеопороз
          li Определение оптимального соотношения витаминов и микроэлементов в крови, лечение дефицита витамина Д,  разработка диет и коррекция питания
          li Другие заболевания эндокринной системы