//------------------------------------------------------------------------------
//- Doctor page (Filvarkovyj Andrej Nikolaevich)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Макеев C.C.'
  -var pageClass = ''
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Макеев Сергей Сергеевич'
  -var breadcrumbParentPage = {namePage: 'Врачи', href: 'doctors'}

  //- Data for current doctor
  -var surnameDoctor = 'Макеев'
  -var nameDoctor = 'Сергей Сергеевич'
  -var specDoctor = 'Врач андролог-уролог'
  -var imageDoctor = ''
  -
    var servicesDoctor = [
      {
        title: 'УЗИ мошонки',
        price: '1500'
      },
      {
        title: 'УЗИ предстательной железы (трансректально)',
        price: '1500'
      },
      {
        title: 'УЗИ мочевого пузыря',
        price: '700'
      },
      {
        title: 'УЗИ почек, мочевого пузыря и надпочечников',
        price: '1300'
      },
      {
        title: 'УЗИ мочевого пузыря и остаточной мочи',
        price: '1300'
      },
      {
        title: 'Прием (осмотр, консультация) врача уролога первичный',
        price: '1800'
      },
      {
        title: 'Прием (осмотр, консультация) врача уролога повторный',
        price: '1500'
      },
      {
        title: 'Прием (осмотр, консультация) врача уролога первичный (выезд на дом)',
        price: '4000'
      },
      {
        title: 'Массаж предстательной железы',
        price: '650'
      },
      {
        title: 'Инстилляции уретры',
        price: '800'
      },
      {
        title: 'Инстилляции мочевого пузыря',
        price: '800'
      },
      {
        title: 'Замена эпицистостомического дренажа (на дому)',
        price: '5000'
      },
      {
        title: 'Уход за дренажом',
        price: '1000'
      },
      {
        title: 'Замена эпицистостомического дренажа',
        price: '2000'
      },
      {
        title: 'Установка уретрального катетера',
        price: '1000'
      }
    ]

block main
  +uiDoctorSection(surnameDoctor, nameDoctor, specDoctor, servicesDoctor, imageDoctor)
    block content
      .paragraph-description
        h4 Образование:
        p Дальневосточный государственный медицинский университет г. Хабаровск  « Лечебное дело» - 2003 год
        p Ординатура по урологии Дальневосточный государственный медицинский университет г.-2006 год
        p Повышение квалификации « Урология» ООО ДПО « Университет профессиональных стандартов»- 2020 год
        p Профессиональная переподготовка « Ультразвуковая диагностика» ООО»МЦ «Гиппократ» -2016 год
      .list
        h4 Сексуальные дисфункции у мужчин:
        ul.description-list
          li Эректильная дисфункция (Импотенция)
          li Нарушение семяизвержения (преждевременная эякуляция, болезненная эякуляция)
          li Заболевания передающиеся половым путем
          li Острый и хронический простатит в различных формах
          li Аденома предстательной железы (ДГПЖ)
      .list
        h4 Инфекционно-воспалительные заболевания почек и мочевыводящих путей:
        ul.description-list
          li Острый и хронический пиелонефрит
          li Различные формы циститов
          li Уретриты
          li Эпидидимит, орхит
          li Профилактика и ранняя диагностика онкоурологических заболеваний
          li Лечение недержания мочи у женщин (стрессовое, императивное, комбинированное)
          li Мужское бесплодие
          li Профилактика и лечение мочекаменной болезни 
          li Возрастной андрогенный дефицит с выбором оптимальной заместительной гормонотерапии в том числе и препаратами тестостерона
          li Лейкоплакия мочевого пузыря
          li Варикоцеле
          li Водянка оболочек яичка (Гидроцеле)