//------------------------------------------------------------------------------
//- Doctor page (Filvarkovyj Andrej Nikolaevich)
//------------------------------------------------------------------------------

extends ../../layouts/base
append config
  -var title = 'ЦАОП №1 | Мищенко А.C.'
  -var pageClass = ''
  
  //- Necessary for the correct display of breadcrumbs
  -var breadcrumbSelfName = 'Мищенко Александра Сергеевна'
  -var breadcrumbParentPage = {namePage: 'Врачи', href: 'doctors'}

  //- Data for current doctor
  -var surnameDoctor = 'Мищенко'
  -var nameDoctor = 'Александра Сергеевна'
  -var specDoctor = 'Акушер-гинеколог, Врач ультразвуковой диагностики'
  -var imageDoctor = 'doctors/Photo-8-min.jpg'
  -
    var servicesDoctor = [
      {
        title: 'Прием (осмотр, консультация) врача гинеколога первичный',
        price: '1500'
      },
      {
        title: 'Прием (осмотр, консультация) врача гинеколога повторный',
        price: '1200'
      },
      {
        title: 'Прием (осмотр, консультация) врача гинеколога + УЗИ малого таза',
        price: '2500'
      },
      {
        title: 'Установка ВМС',
        price: '1800'
      },
      {
        title: 'Удаление ВМС',
        price: '1600'
      },
      {
        title: 'Кольпоскопия',
        price: '1500'
      },
      {
        title: 'Местная анестезия',
        price: '600'
      },
      {
        title: 'Установка пессария',
        price: '900'
      },
      {
        title: 'УЗИ органов брюшной полости (печень, желчный пузырь, поджелудочная железа и селезенка)',
        price: '1600'
      },
      {
        title: 'Комплексное УЗИ органов брюшной полости (включая почки)',
        price: '1900'
      },
      {
        title: 'УЗИ молочных желез',
        price: '1400'
      },
      {
        title: 'УЗИ мочевого пузыря',
        price: '700'
      },
      {
        title: 'УЗИ почек, мочевого пузыря и надпочечников',
        price: '1300'
      },
      {
        title: 'УЗИ мочевого пузыря и остаточной мочи',
        price: '1300'
      },
      {
        title: 'УЗИ щитовидной железы',
        price: '1100'
      },
      {
        title: 'УЗИ органов малого таза (трансабдоминально)',
        price: '1400'
      },
      {
        title: 'УЗИ органов малого таза (трансвагинально)',
        price: '1400'
      },
      {
        title: 'УЗИ грудных желез',
        price: '1400'
      },
      {
        title: 'УЗИ надпочечников',
        price: '700'
      },
      {
        title: 'Фолликулометрия (3-4 посещения)',
        price: '1800'
      },
      {
        title: 'УЗИ беременности раннего срока',
        price: '1400'
      }
    ]

block main
  +uiDoctorSection(surnameDoctor, nameDoctor, specDoctor, servicesDoctor, imageDoctor)
    block content
      .paragraph-description
        h4 Образование:
        p СПбГУ им. И.П.Павлова  специальность « лечебное дело» - 2008 год
        p СПб МАПО , кафедра акушерства и гинекологии, клиническая ординатура- 2010 г
        p СПб МАПО – первичная специализация по ультразвуковой диагностике 2011 год
        p СПб МАПО- повышение квалификации « кольпоскопия»
        p Аккредитация по специальности акушерство и гинекология пройдена 27.04.2022г ( действует до 2027г)
        p Действующий сертификат по УЗД до 18.12.2024г
      .list
        h4 Специализация и профессиональные навыки врача:
        ul.description-list
          li Заболевания шейки матки, влагалища, вульвы
          li Эрозия и дисплазия шейки матки
          li Заболевания тела матки ( гиперплазия, полипоз эндометрия)
          li Эндометриоз
          li Вирусные заболевания
          li Инфекции передающиеся половым путем
          li Воспалительные заболевания женских половых органов
          li Маточные кровотечения
          li Невынашивание беременности
          li Бесплодный брак
          li Планирование беременности
          li Кольпоскопия
          li Введение и удаление ВМС
          li Подбор метода контрацепции
          li УЗИ органов малого таза, щитовидной железы, молочных желез, органов брюшной полости, почек, мочевого пузыря
          li УЗИ при беременности ( ранние сроки, фетометрия во 2 и 3 триместре, оценка состояния плаценты и подсчет амниотического индекса, цервикометрия , допплерометрия маточно-плацентарного и плодово- плацентарного кровотока)
          li Забор мазков на инфекции и онкоцитологию