// -----------------------------------------------------------------------------
// Colors config
// -----------------------------------------------------------------------------

$black: #0C1431;
$white: #FFFFFF;
$gray: #77787E;
$blue: #3452CD;
$light-blue: #849ADF;
$khaki: #C5DAE7;
$dark-bg: #D5DCEC;
$light-bg: #EEF2FC;
$rad: #DF335C;