//------------------------------------------------------------------------------
//- Common layout
//------------------------------------------------------------------------------
//- This layout exists everywhere except the homepage

include ../sections/common/feedback.pug
include ../sections/common/reviews.pug
include ../sections/common/faq.pug